//Import Variables //
@import './variables/__all';

//Import Mixins //
@import './mixins/__all';

// Import Utils //
@import  './util/__all';

// Import Components //
@import './components/__all';

// Import Sections //
@import './sections/__all';


body {
    position: relative;
    margin: 0;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: $color-dark;
    max-width: 100vw;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;

    @media screen and (max-width: $bp-MD){
        font-size: 15px;
    }
}

main{
    max-width: 100vw;
    overflow: hidden;
}