<footer class="footer">
    <div class="footer__contact">
        <div class="container">
            <div class="row">
                <!-- Mobile Only -->
                <div class="col-md-4 d-flex d-lg-none justify-content-center">
                    <ul class="footer__contact-list">
                        <li class="title">
                            SAC:
                        </li>
                        <li>
                            0800 724 6522
                        </li>
                        <li>
                            faleconosco@biolabfarma.com.br
                        </li>
                    </ul>
                </div>
                <!-- // -->
                <div class="col-md-4 d-none d-lg-flex justify-content-center">
                    <ul class="footer__contact-list">
                        <li class="title">
                            SAC:
                        </li>
                        <li>
                            0800 724 6522
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 d-none d-lg-flex justify-content-center">
                    <ul class="footer__contact-list">
                        <li class="title">
                            fale conosco:
                        </li>
                        <li>
                            faleconosco@biolabfarma.com.br
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 d-none d-lg-flex justify-content-end">
                    <div class="footer__contact-social">
                        <span>Fique conectado</span>

                        <a href="#" class="footer__contact-social-item" alt="Instagram">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="footer__contact-social-item ml-1" alt="Facebook">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <div class="row">
                <div class="col-12 d-none d-lg-flex justify-content-end pt-4 pb-3">
                    <div class="footer__copyright-img">
                        <img src="../images/brands/biolab_farma.png" alt="Logo Biolab Farmacêutica">
                    </div>
                    <div class="footer__copyright-img">
                        <img src="../images/brands/biolabstudio.svg" alt="Logo Biolab Studio">
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <p class="footer__copyright-desc">
                        Biolab Farmacêutica • Linha Dermato 2019 Copyright © Todos os direitos reservados.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>