<footer class="footer">
    <div class="footer__contact">
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center">
                    <ul class="footer__contact-list wow fadeInUp mb-3 mb-lg-0">
                        <li class="title">
                            SAC:
                        </li>
                        <li>
                            0800 724 6522
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <ul class="footer__contact-list wow fadeInUp">
                        <li class="title">
                            fale conosco:
                        </li>
                        <li>
                            faleconosco@biolabfarma.com.br
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 d-flex justify-content-center justify-content-md-center">
                    <div class="footer__contact-social wow fadeInUp">
                        <span>Fique conectado</span>

                        <a href="#" class="footer__contact-social-item" alt="Instagram">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="footer__contact-social-item ml-2" alt="Facebook">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center jstify-content-lg-center pt-4 pb-3 wow fadeInUp">
                    <div class="footer__copyright-img">
                        <img src="../images/brands/biolab_farma.png" alt="Logo Biolab Farmacêutica">
                    </div>
                    <div class="footer__copyright-img">
                        <img src="../images/brands/biolabstudio.svg" alt="Logo Biolab Studio">
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <p class="footer__copyright-desc wow fadeInUp">
                        Biolab Farmacêutica • Linha Dermato 2019 Copyright © Todos os direitos reservados.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<aside id="redirect-modal" class="modal-redirect">
    <div class="modal-redirect__content">
        <div class="modal-redirect__spinner">
            <div class="loader"></div>
        </div>
        <div class="modal-redirect__title">
            Você está sendo
            direcionado para
            outra página
        </div>
        <button class="btn btn-grad-primary px-5 d-block" data-toggle="redirect-modal">OK</button>
    </div>
</aside>

<aside id="modal-explorer" class="modal-explorer">
    <div class="container">
        <div class="modal-explorer__content">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-center justify-content-center">
                    <img class="modal-explorer__ico" src="../images/ico/tool_icon.png" alt="ícone de ferramentas">
                </div>
                <div class="col-lg-6">
                    <h3 class="modal-explorer__title">
                        Desculpe o incômodo!
                    </h3>
                    <p class="modal-explorer__desc mb-4">
                        Informamos que o navegador Internet Explorer não recebe mais atualizações de sistema, por isso
                        não atende à performance máxima de que nosso portal necessita.
                    </p>
                    <hr class="mb-4" />
                    <p class="modal-explorer__desc mb-4">
                        <b>O que isso significa?</b> <br />
                        Você pode continuar a usá-lo mesmo assim ou acessar nosso portal por meio de outro navegador
                        para ter uma experiência melhor.
                    </p>

                    <div class="row">
                        <div class="col-lg-5 order-last order-lg-first">
                            <a target="_blank" class="btn btn-grad-primary" href="https://www.google.com/intl/pt-BR/chrome/">
                                Quero ter uma experiência melhor
                            </a>
                        </div>
                        <div class="col-lg-5">
                            <button class="btn btn-primary--outline mb-3" data-toggle="modal-explorer">
                                Quero continuar mesmo assim
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>