<section id="linha-completa" class="linha-completa mb-5">
    <div class="linha-completa__caption  wow fadeInUp">
        <h3 class="linha-completa__title">
            Conheça nossa
            <span>
                Linha Completa
            </span>

            <hr>
    </div>

    <div class="custom-container">

        <div class="linha-completa__carousel owl-carousel owl-default nav-center  wow zoomIn">
            <div class="item">
                <article class="linha-completa__product">
                    <div class="linha-completa__product-degrade">
                        <div class="linha-completa__product-label">Cabelo</div>
                        <img data-src="../images/ico/badge-cabelo.png" alt="Ícone cabelos brilhantes"
                            class="linha-completa__product-ico if-deactive lazy">
                        <img data-src="../images/ico/badge-cabelo--white.png" alt="Ícone unhas brilhantes"
                            class="linha-completa__product-ico if-active lazy">
                    </div>
                    <div class="linha-completa__product-caption">
                        <img src="../images/produtos/alozex-thumb.png" alt="Pacote alozex Gel"
                            class="linha-completa__product-img">
                        <h4 class="linha-completa__product-title">Alozex <small><sup>®</sup></small></h4>
                        <a href="./alozex-gel.png" class="btn btn-grad-primary"><i
                                class="fa fa-chevron-right d-inline-block d-md-none mr-2"></i>Saiba mais <i
                                class="fa fa-chevron-right d-none d-md-inline-block ml-2"></i></a>
                    </div>
                </article>
            </div>

            <div class="item">
                <article class="linha-completa__product">
                    <div class="linha-completa__product-degrade">
                        <div class="linha-completa__product-label">Cabelo</div>
                        <img data-src="../images/ico/badge-cabelo.png" alt="Ícone cabelos brilhantes"
                            class="linha-completa__product-ico if-deactive lazy">
                        <img data-src="../images/ico/badge-cabelo--white.png" alt="Ícone unhas brilhantes"
                            class="linha-completa__product-ico if-active lazy">
                    </div>
                    <div class="linha-completa__product-caption">
                        <img src="../images/produtos/pantogar-thumb.png" alt="Pacote pantogar Gel"
                            class="linha-completa__product-img">
                        <h4 class="linha-completa__product-title">Pantogar®</h4>
                        <a href="./pantogar-gel.png" class="btn btn-grad-primary"><i
                                class="fa fa-chevron-right d-inline-block d-md-none mr-2"></i>Saiba mais <i
                                class="fa fa-chevron-right d-none d-md-inline-block ml-2"></i></a>
                    </div>
                </article>
            </div>

            <div class="item">
                <article class="linha-completa__product">
                    <div class="linha-completa__product-degrade">
                        <div class="linha-completa__product-label">Pele</div>
                        <img data-src="../images/ico/badge-pele.png" alt="Ícone peles brilhantes"
                            class="linha-completa__product-ico if-deactive lazy">
                        <img data-src="../images/ico/badge-pele--white.png" alt="Ícone peles brilhantes"
                            class="linha-completa__product-ico if-active lazy">
                    </div>
                    <div class="linha-completa__product-caption">
                        <img src="../images/produtos/fascia-thumb.png" alt="Pacote fascia Gel"
                            class="linha-completa__product-img">
                        <h4 class="linha-completa__product-title">Fascia®</h4>
                        <a href="./fascia-gel.png" class="btn btn-grad-primary"><i
                                class="fa fa-chevron-right d-inline-block d-md-none mr-2"></i>Saiba mais <i
                                class="fa fa-chevron-right d-none d-md-inline-block ml-2"></i></a>
                    </div>
                </article>
            </div>

            <div class="item">
                <article class="linha-completa__product">
                    <div class="linha-completa__product-degrade">
                        <div class="linha-completa__product-label">Unhas</div>
                        <img data-src="../images/ico/badge-unha.png" alt="Ícone unhas brilhantes"
                            class="linha-completa__product-ico if-deactive lazy">
                        <img data-src="../images/ico/badge-unha--white.png" alt="Ícone unhas brilhantes"
                            class="linha-completa__product-ico if-active lazy">
                    </div>
                    <div class="linha-completa__product-caption">
                        <img src="../images/produtos/onicutgel-thumb.png" alt="Pacote Onicut Gel"
                            class="linha-completa__product-img">
                        <h4 class="linha-completa__product-title">Onicut® Gel</h4>
                        <a href="./onicut-gel.html" class="btn btn-grad-primary"><i
                                class="fa fa-chevron-right d-inline-block d-md-none mr-2"></i>Saiba mais <i
                                class="fa fa-chevron-right d-none d-md-inline-block ml-2"></i></a>
                    </div>
                </article>
            </div>

            <div class="item">
                <article class="linha-completa__product">
                    <div class="linha-completa__product-degrade">
                        <div class="linha-completa__product-label">Cabelo</div>
                        <img data-src="../images/ico/badge-cabelo.png" alt="Ícone cabelos brilhantes"
                            class="linha-completa__product-ico if-deactive lazy">
                        <img data-src="../images/ico/badge-cabelo--white.png" alt="Ícone unhas brilhantes"
                            class="linha-completa__product-ico if-active lazy">
                    </div>
                    <div class="linha-completa__product-caption">
                        <img src="../images/produtos/pantogarmen-thumb.png" alt="Pacote Pantogar Men"
                            class="linha-completa__product-img">
                        <h4 class="linha-completa__product-title">Pantogar® Men</h4>
                        <a href="./pantogar-men.html" class="btn btn-grad-primary"><i
                                class="fa fa-chevron-right d-inline-block d-md-none mr-2"></i>Saiba mais <i
                                class="fa fa-chevron-right d-none d-md-inline-block ml-2"></i></a>
                    </div>
                </article>
            </div>

            <div class="item">
                <article class="linha-completa__product">
                    <div class="linha-completa__product-degrade">
                        <div class="linha-completa__product-label">Cabelo</div>
                        <img data-src="../images/ico/badge-cabelo.png" alt="Ícone cabelos brilhantes"
                            class="linha-completa__product-ico if-deactive lazy">
                        <img data-src="../images/ico/badge-cabelo--white.png" alt="Ícone unhas brilhantes"
                            class="linha-completa__product-ico if-active lazy">
                    </div>
                    <div class="linha-completa__product-caption">
                        <img src="../images/produtos/pantogarmen-thumb.png" alt="Pacote Pantogar Men"
                            class="linha-completa__product-img">
                        <h4 class="linha-completa__product-title">Reaox Men</h4>
                        <a href="./pantogar-men.html" class="btn btn-grad-primary"><i
                                class="fa fa-chevron-right d-inline-block d-md-none mr-2"></i>Saiba mais <i
                                class="fa fa-chevron-right d-none d-md-inline-block ml-2"></i></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>