<nav id="main-nav" class="main-nav wow fadeInDown">
    <div class="container">
        <div class="main-nav__content">

            <!-- Mobile only -->
            <button class="nav-toggler main-nav__toggler d-lg-none" alt="Expandir menu"
                aria-expanded="false">
            <i class="ico ico-toggler"></i></button>
            <!-- // -->

            <div class="main-nav__brand">
                <a href="./index.html">
                    <img src="../images/brands/linha_derma.svg" alt="Logomarca Linha Dermatológica"></a>
            </div>

            <div id="main-nav-menu" class="main-nav__menu wow fadeIn">
                <!-- Mobile only -->
                <button class="nav-toggler main-nav__menu-close d-lg-none" alt="Fechar menu"
                    aria-expanded="false">
                <i class="ico ico-close "></i></button>
                <!-- // -->

                <!-- Mobile only -->
                <div class="main-nav__menu-brand d-lg-none">
                    <a href="./index.html">
                        <img src="../images/brands/linha_derma.svg" alt="Logomarca Linha Dermatológica"></a>
                </div>
                <!-- // -->

                <ul class="main-nav__menu-list">
                    <li class="main-nav__menu-item active">
                        <a href="../pages/home.html">Home</a>
                    </li>
                    <li class="main-nav__menu-item">
                        <a href="../pages/cabelo.html">Cabelo</a>
                    </li>
                    <li class="main-nav__menu-item">
                        <a href="../pages/pele.html">Pele</a>
                    </li>
                    <li class="main-nav__menu-item">
                        <a href="../pages/unhas.html">Unhas</a>
                    </li>
                    <li class="main-nav__menu-item">
                        <a href="../pages/linha-completa.html">Linha <br class="d-none d-lg-block">Completa</a>
                    </li>

                    <!-- Mobile only -->
                    <li class="main-nav__menu-item d-lg-none">
                        <a href="../pages/index.html">Onde encontrar</a>
                    </li>
                    <li class="main-nav__menu-item d-lg-none">
                        <a href="../pages/blog.html">Blog</a>
                    </li>
                    <!-- // -->

                    <li class="main-nav__menu-item">
                        <a href="../pages/quem-somos.html">Quem <br class="d-none d-lg-block">somos</a>
                    </li>

                </ul>
                <!-- Mobile only -->
                <div class="main-nav__menu-item menu-brand d-lg-none">
                    <img src="../images/brands/biolab_farma.png" alt="Logomarca Biolab Farmacêutica">
                </div>

                <div class="main-nav__menu-item menu-brand d-lg-none">
                    <img src="../images/brands/biolabstudio.svg" alt="Logomarca Biolab Studio">
                </div>

                <div class="main-nav__menu-social d-lg-none">
                    <a href="#" class="main-nav__social-item ico ico-insta" alt="Instagram"></a>
                    <a href="#" class="main-nav__social-item ico ico-fb" alt="Facebook"></a>
                </div>
                <!-- // -->
            </div>

            <div class="main-nav__social">
                <span for="" class="main-nav__social-desc d-none d-lg-block">
                    Siga-nos
                </span>

                <a href="#" class="main-nav__social-item ico ico-yt" alt="Youtube"></a>
                <a href="#" class="main-nav__social-item ico ico-insta" alt="Instagram"></a>
                <a href="#" class="main-nav__social-item ico ico-fb" alt="Facebook"></a>
            </div>
        </div>
    </div>
</nav>