<section id="onde-encontrar" class="onde-encontrar">
    <div class="container">
        <div class="onde-encontrar__caption">
            <h3 class="onde-encontrar__caption-title wow fadeInUp">
                Onde encontrar:
            </h3>
            <p class="onde-encontrar__caption-desc wow fadeInUp">
                Parceiros <i>online</i>
            </p>
            <hr />
        </div>

        <div class="onde-encontrar__list">
            <div class="onde-encontrar__item wow zoomIn big">
                <a target="_blank" href="https://www.google.com"><img src="../images/brands/biolab_casa.svg"
                        alt="Logo Biolab em casa"></a>
                <a class="btn btn-green mt-4">Comprar <i class="fa fa-chevron-right d-inline-block ml-1"></i></a>
            </div>

            <div class="onde-encontrar__item wow zoomIn">
                <a target="_blank" href="https://www.google.com">
                    <img src="../images/brands/onofre.png" alt="Logo Onofre">
                </a>
            </div>

            <hr class="w-100 d-block d-lg-none m-0 p-0" style="opacity: 0;" />

            <div class="onde-encontrar__item wow zoomIn">
                <a target="_blank" href="https://www.google.com">
                    <img src="../images/brands/raia.png" alt="Logo Droga raia">
                </a>
            </div>

            <div class="onde-encontrar__item wow zoomIn">
                <a target="_blank" href="https://www.google.com"><img src="../images/brands/drogasil.png"
                        alt="Logo Drogasil"></a>
            </div>
        </div>

        <small class="onde-encontrar__warning wow fadeInUp">
            VOCÊ SERÁ DIRECIONADO PARA UM <i>SITE</i> PARCEIRO. OS CLIENTES TÊM COMPLETA LIBERDADE PARA ESCOLHER O
            ESTABELECIMENTO PARA REALIZAR A COMPRA. DESCONTOS, PROMOÇÕES E INFORMAÇÕES OFERECIDOS POR NOSSOS PARCEIROS
            SÃO DE TOTAL RESPONSABILIDADE DELES E DE SUAS REDES CREDENCIADAS.
        </small>
    </div>

    <a href="#" class="onde-encontrar__scrolldown wow fadeInUp bounce" alt="Scroll para baixo"><i
            class="fa fa-chevron-down" aria-hidden="true"></i></a>
</section>