<section id="voce-medico" class="voce-medico py-5">
    <div class="container pt-4">
        <h2 class="inner-title wow fadeInUp">
            Você é médico?
        </h2>

        <div class="row pt-5 pt-md-0">
            <div class="col-9 col-md-5 d-flex align-items-center justify-content-lg-center">
                <img class="w-100 lazy wow fadeInUp mb-5 mb-lg-0" data-src="../images/brands/biolabstudio.svg"
                    alt="Logo Biolab Studio" style="max-width: 350px">
            </div>
            <div class="col-md-6">
                <p class="inner-desc mb-5 wow fadeInUp">
                    O Biolab Studio é um portal de conhecimento médico-científico, desenvolvido pela
                    Biolab Farmacêutica, com um rico acervo de materiais voltados para profissionais da
                    saúde prescritores.
                    <br /> <br />
                    Se é um profissional da saúde, convidamos você a se cadastrar e acessar os
                    conteúdos.
                </p>
                <a href="#" class="btn btn-grad-primary wow fadeInUp mx-auto mx-lg-0" style="max-width: 280px">
                    Acesse o Biolab Studio <i class="fa fa-chevron-right d-inline-block ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</section>