@import './__home-slider',
        './_formulas-exclusivas',
        './_linha-completa',
        './_contact',
        './_error-404',
        './_linha-completa-pg',
        './_linha-completa-pg-mobile',
        './_onde-encontrar',
        './_quem-somos',
        './_categoria-page',
        './_categorias-thumbs';