.categorias-thumbs {
    position: relative;
    padding: 100px 0 30px 0;
    background-image: url(../images/backgrounds/grafismo.png);
    background-size: cover;

    @media screen and (max-width: $bp-LG) {
        padding: 40px 0 10px 0;
        background: none;
        background-color: #F6F8F9;
    }

    .container {
        position: relative;

        @media screen and (min-width: 1300px) {
            max-width: 1300px;
        }
    }

    &__carousel {
        .item {
            padding: 0 40px;
        }

        .owl-next,
        .owl-prev {
            width: 25px !important;
            height: 25px !important;
            font-size: 15px !important;
        }

        .owl-next {
            right: 2px !important;
        }

        .owl-prev {
            left: 2px !important;
        }

        .owl-nav {
            top: 40% !important;
        }
    }

    &__scrolldown {
        display: block;
        font-size: 27px;
        text-align: center;
        margin-top: 50px;

        @media screen and (max-width: $bp-LG) {
            display: none;
        }
    }

    &__item {
        position: relative;
        display: block;
        width: 100%;
        border: 2px solid $color-primary;
        overflow: hidden;
        @include transition();

        @media screen and (max-width: $bp-LG) {
            border: none;
            height: 490px;
        }

        img {
            width: 100%;
            object-fit: cover;
            height: 90%;
            object-position: top;
        }


        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background-color: $color-primary;
            pointer-events: none;
            height: 92%;
            z-index: 4;
            width: 100%;
            pointer-events: none;
            opacity: 0;
            @include transition();
        }

        &.hover-blue {
            &:after {
                background-color: #0DBBE8;
            }
        }

        &.hover-turq {
            &:after {
                background-color: #0DBBE8;
            }
        }

        &.hover-green {
            &:after {
                background-color: #6FFAAF;
            }
        }

        &:hover {
            &::after {
                opacity: .5;
            }
        }

        &-caption {
            position: relative;
            width: 100%;
            padding: 11px 30px;
            background: $grad-primary;
            font-size: 20px;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            height: 10%;
            z-index: 5;

            @media screen and (max-width: $bp-LG) {
                font-size: 17px;
            }
        }
    }
}