.contact {
    background-image: url(../images/backgrounds/grafismo-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 70px 0 50px 0;
    margin-bottom: -2px !important;

    &__info {
        &-title {
            font-size: 19px;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-primary;
            margin-bottom: 25px;

            @media screen and (max-width: $bp-LG){
                font-size: 16px;
                margin-bottom: 7px;
            }
        }

        &-desc{
            color: #707070;
            font-size: 18px;

            @media screen and (max-width: $bp-LG){
                font-size: 14px;
            }
        }
    }
}