.error-404 {
    display: flex;
    align-items: center;
    position: relative;
    background-image: url(../images/backgrounds/bg_error-404.png);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding: 40px;

    @media screen and (max-width: $bp-LG){
        padding: 20px 10px;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgba(252, 252, 252, 0.627);
        border-radius: 20px;
        padding: 70px 20px 80px 20px;
        text-align: center;

        @media screen and (max-width: $bp-LG){
            padding: 40px 15px;
        }

    }

    &__title {
        font-size: 45px;
        text-transform: uppercase;
        color: #A9A9AA;
        letter-spacing: 4px;
        font-weight: 400;
        margin-bottom: 30px;

        @media screen and (max-width: $bp-LG){
            font-size: 35px;
            margin-bottom: 40px;
        }
    }

    &__subtitle{
        font-size: 23px;
        text-transform: uppercase;
        padding: 7px 20px;
        letter-spacing: 1.5px;
        color: #939394;
        border: 12px solid #4DD3DC;
        border-width: 1.5px 0 1.5px 0;
        margin-bottom: 20px;

        @media screen and (max-width: $bp-LG){
            margin-bottom: 40px;
        }
    }

    &__desc{
        font-weight: 600;
        color: #939394;
        font-size: 17px;
        margin-bottom: 30px;

        @media screen and (max-width: $bp-LG){
            margin-bottom: 50px;
        }
    }

    &__img{
        position: relative;
        height: 230px;

        @media screen and (max-width: $bp-LG){
            height: 140px;
        }

        img{
            position: absolute;
            left: -200px;
            top: 0;

            @media screen and (max-width: $bp-LG){
                width: 310px;
                left: -130px;
            }
        }
    }
}