.formulas-exclusivas {
    position: relative;
    padding: 80px 0;
    text-align: center;
    max-width: 100vw;

    &:after{
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 30px;
        left: 5px;
        background-image: url(../images/backgrounds/bullets-bottom-left.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 300px;
        height: 500px;

        @media screen and (max-width: $bp-MD){
            display: none;
        }
    }
    
    &:before{
        content: '';
        position: absolute;
        z-index: -1;
        top: 20px;
        right: -90px;
        background-image: url(../images/backgrounds/bullets-top-right.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 300px;
        height: 500px;

        @media screen and (max-width: $bp-MD){
            width: 220px;
            height: 270px;
            right: -155px;
            top: -10px;
        }
    }

    @media screen and (max-width: $bp-LG) {
        padding-top: 80px;
        padding-bottom: 10px;
    }

    &__caption {
        text-align: center;
        color: #707070;
        margin-bottom: 80px;
    }

    &__title {
        text-transform: uppercase;
        font-size: 26px;
        margin-bottom: 40px;

        @media screen and (max-width: $bp-LG) {
            font-size: 19px;
            font-weight: 400;
            letter-spacing: 2px;
        }

        span {
            text-transform: lowercase;
            font-family: Jenna;
            background: $grad-primary;
        }

        img{
            margin-top: 10px !important;
        }
    }

    &__desc {
        font-size: 18px;

        @media screen and (max-width: $bp-LG) {
            font-size: 17px;
            max-width: 300px;
            margin: 0 auto;
        }

    }

    &__scrolldown {
        display: block;
        margin-top: 30px;
        font-size: 24px;
    }

    &__badges {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        right: -115px;
        top: 0;
        height: 110%;
        margin-top: -30px;


        @media screen and ( max-width: $bp-XL){
            height: 150%;
            margin-top: -50px;
        }

        @media screen and (max-width: $bp-LG) {
            position: relative;
            right: unset;
            height: unset;
            flex-direction: row;
            justify-content: space-around;
            padding: 20px 0;
        }

        &-item {
            width: 120px;
            height: 150px;

            @media screen and (max-width: $bp-LG){
                width: 70px;
                height: 70px;
            }

            &:not(:first-child) {
                margin-top: 35px;

                @media screen and ( max-width: $bp-XL){
                   margin-top: 23px;
                }

                @media screen and (max-width: $bp-LG) {
                    margin-top: 0;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }
}