.home-slider {
    width: 100vw;
    
    &__item {
        position: relative;
        height: 800px;
        padding-top: 80px;
        max-width: 100vw;
        overflow: visible;
        margin-bottom: 20px !important;

        @media screen and (max-width: $bp-XL) {
            margin-bottom: 5%;
        }

        @media screen and (max-width: $bp-LG) {
            height: auto;
            min-height: unset;
            padding-top: 50px;
        }

        &.pantogar {
            position: relative;
            background-image: url('../images/backgrounds/pantogar-men_bg.png');
            background-size: cover;
            width: 100%;

            @media screen and (max-width: $bp-LG){
                background: none;
                background-color: #F0F0F0;
            }

            @media screen and (max-width: 1230px){
                background-position: -230px;
            }

            .home-slider__bar {
                background-image: url('../images/backgrounds/fascia-bar_bg.png');
                background-size: cover;
            }

            .home-slider__caption {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                padding-right: 130px;
                padding-left: 140px;
                height: 100%;

                @media screen and (max-width: $bp-XL) {
                    padding-left: 0;
                }

                @media screen and (max-width: $bp-LG) {
                    width: 100%;
                    height: auto;
                    padding: 60px 70px 60px 70px;
                }
                
                @media screen and (max-width: $bp-MD){
                    padding: 60px 40px 60px 40px;
                }
            }

            .home-slider__title {
                text-transform: uppercase;
                font-size: 36px;
                color: #59776B;
                text-align: center;
                letter-spacing: 0.4px;
                font-weight: bold;

                @media screen and (max-width: 1500px) {
                    font-size: 30px;
                }

                @media screen and (max-width: 1400px) {
                    font-size: 25px;
                }

                @media screen and (max-width: $bp-XL) {
                    font-size: 28px;
                }

                @media screen and (max-width: $bp-LG) {
                    margin-top: 40px;
                    font-size: 18px;
                    padding: 0 30%;
                }

                @media screen and (max-width: $bp-MD) {
                    padding: 0;
                }
            }

            .home-slider__img {
                width: 550px;
                margin-top: 20px;

                @media screen and (max-width: 1400px) {
                    width: 450px;
                }

                @media screen and (max-width: $bp-XL) {
                    width: 500px;
                }

                @media screen and (max-width: $bp-LG) {
                    position: absolute;
                    top: -80px;
                    margin-left: 10px;
                    width: 320px;
                }
            }

            .home-slider__img-mobile {
                height: 310px;
                width: 100%;

                img {
                    object-fit: cover;
                    object-position: center;
                    height: 100%;
                    width: 100%;
                }
            }
        }


        &.fascia {
            position: relative;
            background-image: url('../images/backgrounds/fascia-hero_bg.png');
            background-size: cover;

            @media screen and (max-width: $bp-LG) {
                background-image: none;
                background-color: #fff;
            }

            .home-slider__bar {
                background-image: url('../images/backgrounds/onicut-bar_bg.png');
                background-size: cover;
            }

            .home-slider__title {
                text-transform: uppercase;
                color: #153A62;
                font-weight: 900;
                font-size: 30px;
                max-width: 250px;
                letter-spacing: 2px;

                @media screen and (max-width: 1100px) {
                    font-size: 28px;
                }

                @media screen and (max-width: $bp-LG) {
                    max-width: 350px;
                    text-align: center;
                    margin-bottom: 15px;
                    font-size: 16px;
                }
            }

            .home-slider__caption {
                padding-top: 160px;
                padding-left: 100px;

                @media screen and (max-width: $bp-LG) {
                    padding: 0 30px;
                    padding-bottom: 60px;
                }
            }

            .home-slider__zero {
                display: block;
                padding: 14px 21px;
                margin-right: 40px;
                font-size: 26px;
                border: 2px solid #435E7C;
                border-radius: 36px;
                text-transform: uppercase;
                color: #7B7B7B;
                font-weight: 800;
                text-align: center;
                white-space: nowrap;

                @media screen and (max-width: 1500px) {
                    font-size: 22px;
                }

                @media screen and (max-width: $bp-LG) {
                    border-width: 1px;
                    padding: 5px 15px;
                    font-size: 18px;
                    margin-right: 0;
                    font-size: 14px;
                }
            }

            .home-slider__img {
                width: 100%;
                max-width: 700px;

                @media screen and (max-width: $bp-LG) {
                    width: 400px;
                    margin-top: -130px;
                }

                @media screen and (max-width: $bp-SM) {
                    width: 320px;
                }
            }

            .home-slider__desc {
                color: #7B7B7B;
                font-size: 10px;
                letter-spacing: .5px;
            }

            .home-slider__bar-next {
                img {
                    width: 89% !important;
                    top: -65px;
                }
            }

            .home-slider__img-mobile {
                height: 380px;
                width: 100%;

                img {
                    object-fit: cover;
                    object-position: center;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &.onicut{
            position: relative;
            background-size: cover;
            background-image: url('../images/backgrounds/onicut-hero_bg.png');
            width: 100%;
            padding-bottom: 40px;

            .home-slider__caption {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-left: 160px;
                height: 100%;

                @media screen and (max-width: $bp-XL){
                    padding-left: 120px;
                }
            }

            .home-slider__caption-title {
                width: 340px;
            }

            .home-slider__caption-subtitle {
                color: #fff;
                margin-bottom: -5px;
                font-size: 39px;
                font-family: 'azoft';
                text-transform: uppercase;
            }

            .home-slider__hero {
                position: absolute;
                top: 360px;
                width: 850px !important;
                margin-left: -100px;
                margin-top: -230px;

                @media screen and (max-width: 1400px){
                    top: 360px;
                    width: 700px !important;
                    margin-left: 0px;
                    margin-top: -180px;
                }

                @media screen and (max-width: $bp-XL){
                    width: 570px !important;
                    left: -160px;
                    top: 52%;
                }
            }

            .home-slider__brand {
                position: absolute;
                left: 30%;
                top: 50px;
                width: 440px !important;

                @media screen and (max-width: $bp-XL){
                    width: 400px !important;
                    left: 0px;
                    top: 8%;
                }
            }

            .home-slider__caption-more {
                position: absolute;
                right: -200px;
                z-index: 3;
            }
            
            .custom-container{
                margin: 0 auto;
                max-width: 1600px;
                height: 100%;
            }
        }

    }

    &__bar {
        position: absolute;
        right: 0;
        top: -10px;
        width: 175px;
        height: calc(100% + 10px);
        background-color: #fff;
        align-items: center;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
        z-index: 8;

        @media screen and (max-width: $bp-LG) {
            display: none;
        }

        &-next {
            position: absolute;
            top: 58%;
            left: -20%;
            width: 120%;
            background: $grad-primary;
            border: none;
            transform: translateY(-50%);
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.185);
            text-align: left;
            padding: 30px 20px 17px 20%;
            letter-spacing: 1px;
            @include transition();

            img {
                position: absolute;
                width: 76% !important;
                top: -40px;
                left: 44%;
                transform: translateX(-50%);
            }

            &:hover {
                transform: translateY(-50%) scale(1.04);
            }
        }
    }

    .owl-nav {
        .owl-next {
            display: none !important;
        }

        @media screen and (max-width: $bp-LG) {
            .owl-prev {
                display: none !important;
            }
        }

    }

    .owl-dots {
        display: none;

        @media screen and (max-width: $bp-LG) {
            display: flex;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}