.linha-completa-pg-mob{
    padding-top: 50px;

    &__item{
        &-header{
            height: 200px;
            background-size: cover;
            background-position: center center;
            overflow: hidden;
        }

        &-title{
            font-weight: 800;
            text-transform: uppercase;
            color: #fff;
            text-align: left;
            font-size: 14px;
            max-width: 180px;
        }

        &-content{
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            @include transition();
            
            &.active{
                padding: 30px 0 0 0;
                opacity: 1;
                max-height: 1000px;
            }
        }

        &-more{
            border-radius: 0 !important;
        }
    }
}