.prod-pg {
    &__header {
        display: flex;
        padding-top: 80px;
        height: 900px;

        &.v2 {
            height: 700px;

            @media screen and (max-width: $bp-LG) {
                height: auto;
            }
        }

        @media screen and (max-width: $bp-LG) {
            padding-top: 50px;
            flex-direction: column;
            height: auto;
        }

        &-img {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 50%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            padding-bottom: 40px;

            @media screen and (max-width: $bp-LG) {
                padding-bottom: 20px;
                width: 100%;
                height: 650px;
            }

            &.v2 {
                @media screen and (max-width: $bp-LG) {
                    padding: 30px 0;
                    height: auto;
                }
            }

            &-title {
                display: none;
                font-size: 25px;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
                margin-top: 27px;
                text-align: center;

                span {
                    display: block;
                    font-weight: 400;
                    font-size: 18px;
                    text-transform: capitalize;
                    margin-top: 5px;
                }

                @media screen and (max-width: $bp-LG) {
                    display: block;
                }
            }

            .product {
                width: 90%;
                margin: 0 auto;
                margin-bottom: 50px;

                @media screen and (max-width: $bp-LG) {
                    width: 100% !important;
                }

                &.vertical {
                    width: unset;
                    height: 500px;
                    margin-bottom: 10px;

                    @media screen and (max-width: $bp-LG) {
                        height: 350px;
                        width: unset !important;
                    }
                }
            }

            &.v2 {
                .product {
                    margin-bottom: -20px;
                }
            }
        }

        &-indicacoes {
            width: 500px;
            margin: 0 auto;

            @media screen and (max-width: $bp-LG) {
                width: 100%;
                padding: 0 15px;
            }

            &-desc {
                text-align: center;
                font-size: 16px;
                color: #fff;
                font-weight: 600;
                margin-top: -10px;
                margin-bottom: 25px;

                @media screen and (max-width: $bp-LG) {
                    font-size: 14px;
                }
            }

            &-item {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 13px;
                padding: 0 15px;

                @media screen and (max-width: $bp-LG) {
                    font-size: 11px;
                    padding: 0;
                    max-width: 130px;
                    margin: 0 auto;
                }

                img {
                    width: 85px;
                    margin-bottom: 10px;

                    @media screen and (max-width: $bp-MD) {
                        width: 70px;
                    }
                }

                span.sm {
                    font-size: 11px;
                    white-space: nowrap;

                    @media screen and (max-width: $bp-SM) {
                        white-space: normal;
                        font-size: 8px;

                        .font-weight-normal {
                            font-weight: 600 !important;
                        }
                    }
                }
            }

            &-title {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                width: 70%;
                margin: 0 auto;
                padding: 5px 40px;
                height: 50px;
                background-color: #fff;
                border-radius: 3px;
                text-transform: uppercase;
                text-align: center;
                font-weight: bold;
                color: #54CBD9;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.089);
                margin-bottom: 50px;

                @media screen and (max-width: $bp-LG) {
                    font-size: 16px;
                    height: 40px;
                    width: 78%;
                    white-space: nowrap;
                }

                &.principais {
                    @media screen and (max-width: $bp-LG) {
                        width: 93%;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -19px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 20px solid #fff;
                }

            }

        }

        &-caption {
            width: 50%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            background-image: url(../images/backgrounds/grafismo-4.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-color: rgb(255, 255, 255);
            padding: 120px 100px 40px 100px;
            color: #A9A9AA;

            @media screen and (max-width: 1300px) {
                padding: 140px 50px 40px 50px;
            }

            @media screen and (max-width: $bp-LG) {
                width: 100%;
                padding: 40px 25px;
                text-align: center;
            }

            &.v2 {
                justify-content: center;
                padding: 90px 70px 40px 120px;

                @media screen and (max-width: $bp-LG) {
                    position: relative;
                    padding: 70px 30px 90px 75px;
                    text-align: left;
                    background: none;
                    background-color: #EDEDED;

                    &:after {
                        content: '';
                        position: absolute;
                        z-index: 1;
                        bottom: 0px;
                        left: 0px;
                        background-image: url(../images/backgrounds/bullets-bottom-left.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 100px;
                        height: 200px;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        z-index: 1;
                        bottom: 0px;
                        right: -18px;
                        background-image: url(../images/backgrounds/bullets-bottom-right.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 100px;
                        height: 200px;
                    }
                }
            }

            &-title {
                font-weight: 500;
                text-transform: uppercase;
                font-size: 40px;
                margin-bottom: 30px;

                @media screen and (max-width: $bp-LG) {
                    font-weight: bold;
                    font-size: 28px;
                }
            }

            &-ico-title {
                position: relative;
                font-size: 28px;
                font-weight: bold;
                text-transform: uppercase;

                @media screen and (max-width: $bp-LG) {
                    font-size: 20px;
                    color: #A9A9AA;
                }

                img {
                    position: absolute;
                    top: 50%;
                    left: -43PX;
                    transform: translateY(-50%);
                    width: 30px;
                    height: 30px;
                    object-fit: contain;

                    @media screen and (max-width: $bp-LG) {
                        top: 40%;
                        width: 32px;
                        height: 32px;
                    }
                }
            }

            &-desc {
                font-size: 15px;

                &.lg {
                    font-size: 18px;
                    color: #707070;
                    margin-bottom: 0;

                    @media screen and (max-width: $bp-LG) {
                        font-size: 15px;
                    }
                }

                @media screen and (max-width: $bp-LG) {
                    font-size: 15px;
                    margin-bottom: 50px;
                }
            }


            &-footer {
                &-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-transform: uppercase;

                    @media screen and (max-width: $bp-LG) {
                        flex-direction: column;
                        justify-content: center;
                        padding: 7px 0;
                    }

                    span {
                        display: block;
                        margin-bottom: 3px;
                        font-weight: 600;
                    }

                    .btn {
                        padding: 13px 28px;

                        @media screen and (max-width: $bp-LG) {
                            margin: 0 auto;
                            margin-top: 19px;
                            font-size: 13px;
                            padding: 11px 23px;
                        }
                    }
                }
            }

        }
    }

    &__about {
        position: relative;
        height: 100%;
        padding: 70px 0;

        .container.lg {
            max-width: 1180px;
        }

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 10px;
            right: -90px;
            background-image: url(../images/backgrounds/bullets-top-right.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 300px;
            height: 500px;

            @media screen and (max-width: $bp-LG) {
                transform: rotate(-180deg);
                width: 110px;
                height: 280px;
                top: unset;
                bottom: -10px;
                left: -13px;
            }
        }

        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            bottom: -70px;
            left: 5px;
            background-image: url(../images/backgrounds/bullets-bottom-left.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 300px;
            height: 500px;

            @media screen and (max-width: $bp-MD) {
                display: none;
            }
        }

        &-subtitle {
            color: $color-dark;
            text-align: center;

            @media screen and (max-width: $bp-LG) {
                font-weight: bold;
                font-size: 16px;
                padding: 0 40px;
                color: #A9A9AA;
            }
        }

        .container {
            @media screen and (min-width: 1200px) {
                max-width: 1000px;
            }
        }
    }

    &__step {
        display: flex;
        align-items: flex-start;
        margin-bottom: 40px;

        @media screen and (max-width: $bp-LG) {
            padding: 0 15px;
            align-items: center;
            margin-bottom: 50px;
        }

        .number {
            font-size: 70px;
            font-weight: 900;
            color: $color-primary;
            background: $grad-primary-0;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 0.8;
            margin-right: 20px;

            @media screen and (max-width: $bp-LG) {
                font-size: 50px;
            }
        }

        .desc {
            font-size: 16px;
            white-space: nowrap;

            @media screen and (max-width: $bp-LG) {
                font-size: 15px;
                white-space: normal;
            }
        }
    }

    &__resul-grad {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 180px;
        height: 180px;
        background: $grad-primary-0-inv;
        color: #fff;
        text-align: center;

        .title {
            font-family: 'saturdate';
            font-size: 36px;
            margin-bottom: 5px;
            margin-top: 26px;
            white-space: nowrap;
            padding-left: 30px;

            .plus {
                font-size: 55px;
                position: absolute;
                top: -14px;
                left: 13px;
            }
        }

        .desc {
            font-weight: bold;
            font-size: 14px;
            max-width: 84%;
            margin: 0 auto;
            text-transform: uppercase;
        }
    }

    hr.dark {
        background-color: #e9e9e9;
        height: 1px;
    }
}