.quem-somos {

    &__banner {
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        padding-bottom: 20px;
        background-image: url(../images/backgrounds/bg_banner_vitrine.png);
        background-size: cover;
        background-position: center center;
        padding-top: 80px;
        margin-bottom: 30px;

        @media screen and (max-width: $bp-LG) {
            padding-top: 50px;
            padding-bottom: 0;
        }

        .container {
            display: flex;
            justify-content: flex-end;
        }

        &-more {
            max-width: 220px;
            border: none;
            margin: 0 auto;
        }

        &-content {
            padding: 40px 0;
            max-width: 440px;
            text-align: center;
            margin-right: 80px;

            @media screen and (max-width: $bp-LG) {
                margin: 0 auto;
            }
        }

        &-img {
            width: 190px;

            @media screen and (max-width: $bp-LG) {
                width: 150px;
            }
        }

        &-title {
            font-size: 42px;
            text-transform: uppercase;
            color: #707070;
            margin-bottom: 0;
            font-weight: 400;

            @media screen and (max-width: $bp-LG) {
                font-size: 27px;
            }
        }

        &-caption {
            font-size: 17px;
            color: #707070;

            @media screen and (max-width: $bp-LG) {
                font-size: 16px;
            }
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -15px;
            width: 100%;
            height: 15px;
            background: $grad-primary;
        }
    }

    &__about {
        position: relative;
        padding-top: 70px;

        @media screen and (max-width: $bp-LG){
            padding-top: 20px;
        }

        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 10px;
            left: -5px;
            background-image: url(../images/backgrounds/bullets-top-left.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 300px;
            height: 500px;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 10px;
            right: -90px;
            background-image: url(../images/backgrounds/bullets-top-right.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 300px;
            height: 500px;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        section{
            margin-bottom: 60px;

            @media screen and (max-width: $bp-LG){
                margin-bottom: 40px;
            }
        }

        .container{
            @media screen and (min-width: 1200px){
                max-width: 1000px;
            }
        }
    }

    &__desc{
        font-size: 19px;
        color: #868686;
        text-align: left;
        letter-spacing: 0.7px;

        @media screen and (max-width: $bp-MD){
            font-size: 16px;
            text-align: center;
        }
    }

    &__subtitle{
        padding: 40px 0;
        color: #A9A9AA;
        text-transform: uppercase;
        text-align: center;
        font-size: 26px;
        max-width: 90%;
        margin: 0 auto;
        font-weight: 400;

        @media screen and (max-width: $bp-MD){
            font-size: 18px;
            max-width: 95%;
            padding: 20px 0;
        }
    }

    &__scrolldown {
        display: block;
        margin-top: 45px;
        margin-bottom: -10px;
        color: $color-primary;
        font-size: 25px;
        text-align: center;
        @include transition();

        @media screen and (max-width: $bp-LG){
            margin-top: 25px;
        }
    }
}