$color-primary: #0DBBE8;
$color-secondary: #6FFAAF;

$color-blue: #C6D6E7;
$color-green: #B9CC4B;
$color-navy: #153A62;

$color-pink: #F1DBD8;
$color-pink-l: #FBF8F5;

$color-greenf: #59776B;
$color-navyf: #435E7C;

$color-dark: #2A2A2A;
$color-lighter: #00000D;
$color-light: #F1F3F4;

$grad-primary: linear-gradient(90deg, rgba(13,187,232,1) 0%, rgba(111,250,175,1) 90%);
