@font-face {
    font-family: 'jenna';
    font-style: normal;
    font-weight: normal;
    src: local('jenna'), url('../fonts/jenna.woff') format('woff');
}

@font-face {
    font-family: 'azoft';
    font-style: normal;
    font-weight: normal;
    src: local('azoft'), url('../fonts/azoft.woff') format('woff');
}

@font-face {
    font-family: 'saturdate';
    font-style: normal;
    font-weight: normal;
    src: local('saturdate'), url('../fonts/saturdate.woff') format('woff');
}