.owl-carousel {
    &.nav-center {
        .owl-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: auto;
            top: 48%;
            transform: translateY(-50%);
            z-index: 1;

            button {
                align-items: center;
                position: absolute;
                color: #fff;
                font-size: 17px;
                background: $grad-primary;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                width: 40px;
                height: 40px;
                opacity: 0.8;
                text-align: center;
                @include transition();

                &:hover {
                    opacity: 1;
                }

                &:focus {
                    outline: none;
                }

                @media screen and(max-width: $bp-SM) {
                    width: 40px;
                    height: 40px;
                }
            }

            .owl-prev {
                left: 3%;
            }

            .owl-next {
                right: 3%;
            }
        }
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .owl-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;

        .owl-dot {
            position: relative;
            width: 4px;
            height: 4px;
            background-color: #dadada;
            border-radius: 50%;
            margin-right: 10px;
            cursor: pointer;
            @include transition();

            &:after{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                width: 180%;
                height: 180%;
                border: 1px solid $color-primary;
                border-radius: 50%;
                @include transition();
            }

            &.active {
                width: 8px;
                height: 8px;
                background-color: $color-primary;
                
                &:after{
                    opacity: 1;
                }
            }

            &:active,
            &:focus {
                outline: none;
            }
        }
    }

    .owl-nav {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .owl-nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 13px;
        background-color: $color-primary;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        @include transition();

        @media screen and (max-width: $bp-MD){
            font-size: 10px;
            height: 27px;
            width: 27px;
        }

        &:hover {
            @include scale(1.04);
            background-color: darken($color-primary, 5);
        }
    }

}

.owl-center .owl-stage {
    @media screen and (min-width: $bp-LG) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100% !important;
    }
}