.section-wraper {
    padding: 50px 0;
    overflow: hidden;
}

.section-title {
    font-size: 27px;
    letter-spacing: -.2px;
    position: relative;
    font-weight: 300;
    margin-bottom: 40px;
    color: $color-secondary;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 120%;
        width: 90px;
        height: 1.4px;
        background-color: $color-primary;
        opacity: 0.5;
    }

    @media screen and (max-width: 768px) {
        font-size: 21px;

        &:after {
            height: 1px;
            width: 80px;
        }
    }
}

.border-light {
    border: 0.5px solid rgb(228, 228, 228) !important;
}

.img-70 {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.circle {
    border-radius: 50%;
}

.container--max {
    padding: 0 80px;

    @media screen and(max-width: 992px) {
        padding: 0 40px;
    }

    @media screen and(max-width: 768px) {
        padding: 0 20px;
    }
}

.h-200 {
    height: 200px !important;
}

.h-md-400 {
    @media screen and (min-width: $bp-MD) {
        height: 400px !important;
    }
}

.object-cover {
    object-fit: cover;
    object-position: center;
}

.h-150 {
    height: 150px;
}

.m-h-70{
    max-height: 60px;
    object-fit: contain;
}

.h-100{
    height: 100% !important;
}

.bg-pink{
    background-color: $color-pink !important;
}

.bg-pink-l{
    background-color: $color-pink-l !important;
}

.bg-blue{
    background-color: $color-blue !important;
}

.ico{
    display: block;
    width: 100%;
    height: 100%;
    background: none;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    
    &.ico-yt{
        background-image: url('../images/ico/yt-blue.svg');
    }

    &.ico-insta{
        background-image: url('../images/ico/insta-blue.svg');
    }

    &.ico-fb{
        background-image: url('../images/ico/fb-blue.svg');
    }

    &.ico-toggler{
        background-image: url('../images/ico/toggle.png');
    }

    &.ico-close{
        background-image: url('../images/ico/close.png');
    }
}

small, sup{
    font-weight: inherit;
}