.btn {
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    @include transition();

    &.btn-sm {
        padding: 13px 25px;
        border-radius: 0;
        font-size: 14px;
    }

    &.btn-md-xs {
        @media screen and (max-width: $bp-MD) {
            font-size: 10px;
            padding: 6px 9px;
        }
    }
}

.btn-primary {
    background-color: $color-primary;
    border: none;
    color: #fff;
    @include transition();

    &:hover {
        background-color: darken($color-primary, 4);
        @include scale(1.03);
    }
}

.btn-secondary {
    background-color: $color-secondary;
    border: none;
    color: #fff;
    @include transition();

    &:hover {
        background-color: darken($color-secondary, 4);
        @include scale(1.03);
    }
}

.btn-gray {
    border: none;
    background-color: #D6D6D6;
    color: #59776B;
    @include transition();
    
    &:hover {
        background-color: darken(#D6D6D6, 4);
        color: #59776B;
        @include scale(1.04);
    }
}


.btn-navy {
    border: none;
    background-color: $color-navy;
    color: #fff;
    @include transition();

    &:hover {
        background-color: darken($color-navy, 4);
        color: #fff;
        @include scale(1.04);
    }
}
