.btn {
    padding: 12px 40px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    @include transition();

    &.btn-sm {
        padding: 9px 29px;
        border-radius: 0;
        font-size: 12px;
        font-weight: 600;
    }

    &.btn-md-xs {
        @media screen and (max-width: $bp-MD) {
            font-size: 10px;
            padding: 6px 9px;
        }
    }
}

.btn-primary {
    background-color: $color-primary;
    border: none;
    color: #fff;
    @include transition();

    &:hover {
        background-color: darken($color-primary, 4);
        @include scale(1.03);
    }
}

.btn-secondary {
    background-color: $color-secondary;
    border: none;
    color: #fff;
    @include transition();

    &:hover {
        background-color: darken($color-secondary, 4);
        @include scale(1.03);
    }
}

.btn-gray {
    border: none;
    background-color: #D6D6D6;
    color: #59776B;
    @include transition();
    
    &:hover {
        background-color: darken(#D6D6D6, 4);
        color: #59776B;
        @include scale(1.04);
    }
}

.btn-navy {
    border: none;
    background-color: $color-navy;
    color: #fff;
    @include transition();

    &:hover {
        background-color: darken($color-navy, 4);
        color: #fff;
        @include scale(1.04);
    }
}

.btn-white {
    border: none;
    background-color: #fff;
    color: #7CA245;
    @include transition();

    &:hover {
        color: #7CA245;
        @include scale(1.04);
    }
}

.btn-green {
    border: none;
    background-color: #B9CC4B;
    color: #fff;
    @include transition();

    &:hover {
        color: #fff;
        background-color: darken(#B9CC4B, 5);
        @include scale(1.04);
    }
}

.btn-grad-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $grad-primary;
    color: #fff;
    padding: 12px 10px;
    font-weight: 800;
    font-size: 14px;
    
    i.fa{
        font-size: 19px;
    }
    
    @include transition();
    
    &:hover {
        color: #fff;
        @include scale(1.04);
    }

    &:focus, &:active, &:hover{
        background: $grad-primary !important;
    }
}
