.form-control{
    width: 100%;
    background-color: #fff;
    padding: 10px 12px;
    border-radius: 0px;
    border: 1.4px solid rgba(184, 184, 184, 0.247);
    color: #A9A9AA65;
    font-weight: 400;
    @include transition();
    
    &:focus{
        box-shadow: none;
        border: 1px solid rgba(169, 169, 170, 0.568);
    }

    &::placeholder{
        color: #A9A9AA65;
    }
}

select.form-control{
    color: $color-dark !important;
    padding: 14px 20px;
    height: auto !important;
}

textarea.form-control{
    height: auto;
}

.form-group{
    label{
        font-size: 16px;
        text-transform: lowercase;
        color: $color-dark;
        padding-left: 4px;
    }

    label.error{
        display: block;
        color: rgb(240, 80, 69);
        opacity: .8;
        font-size: 14px;
        font-weight: 400;
        padding-top: 5px;
        padding-left: 4px;
    }
}

.custom-radio{
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover{
        .mask{
            background-color: rgba(0, 0, 0, 0.03);
        }
    }
    .input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .mask{
        position: relative;
        display: block;
        width: 22px;
        height: 22px;
        border: 1.2px solid #54CBD9;
        border-radius: 50%;
        flex-grow: 0;
        margin-bottom: 0;
        @include transition();
        
        &:after{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 70%;
            background-color: #54CBD9;
            border-radius: 50%;
            opacity: 0;
            @include transition();
        }
    }
    
    .input:checked ~ .mask:after {
        opacity: 1;
    }

    .label{
        margin-left: 4px;
        color: #A9A9AA;
        text-transform: uppercase;
    }
      
}