.main-nav {
    z-index: 3;
    background-color: #fff;
    width: 100vw;
    max-width: 100vw;
    z-index: 5;
    box-shadow: 1px 2px 14px rgba(0, 0, 0, 0.08);

    .container{
        max-width: 1300px;
    }

    &__toggler{
        background: none;
        border: none;
        width: 40px;
        height: 40px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 0;
    }

    &__brand {
        height: 50px;

        @media screen and (max-width: $bp-LG){
            flex-direction: column;
            display: none;
        }

        img{
            margin-top: 4px;
            height: 100%;
        }
    }

    &__menu {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: -80px;
        
        @media screen and (max-width: $bp-XL){
            margin-left: -30px;
        }
        
        @media screen and (max-width: $bp-LG){
            z-index: 11;
            position: absolute;
            top: -200px;
            left: 0;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 20px;
            width: 100vw;
            height: 100vh;
            overflow-y: scroll;
            margin-left: 0;
            opacity: 0;
            pointer-events: none;
            background-color: #fff;
            @include transition();

            &.active{
                opacity: 1;
                top: 0;
                pointer-events: all;
            }
        }

        &-list {
            display: flex;
            align-items: center;

            @media screen and (max-width: $bp-LG){
                flex-direction: column;
                margin-bottom: 10px;
            }
        }

        &-item{
            padding: 0 40px;
            color: #2b1212;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 12px;
            text-align: center;
            line-height: 1.3;
            @include transition();

            @media screen and (max-width: $bp-XL){
                padding: 0 25px;
                font-size: 11px;
            }

            @media screen and (max-width: $bp-LG){
                color: #bdbdbd;
                font-size: 13px;
                margin-bottom: 26px;
            }
            
            &:hover, &.active{
                color: #54CBD9;
            }
            
            a{
                color: inherit;
            }
        }
        
        .menu-brand{
            position: relative;
            width: 100%;
            background-color: #f3f3f3;
            margin-bottom: 10px;
            padding: 15px 0;

            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: -10vw;
                width: 120vw;
                background-color: #f3f3f3;
            }

            img{
                height: 45px;
            }
        }
        
        &-brand{
            width: 200px;
            margin-bottom: 20px;

            img{
                height: 100%;
                width: 100%;
            }
        }
        
        &-social{
            display: flex;
            justify-content: center;
            margin-top: auto;
            padding-bottom: 10px;
            width: 100%;

            .main-nav__social-item{
                width: 32px;
                height: 32px;
            }
        }

        &-close{
            background: none;
            border: none;
            position: absolute;
            top: 20px;
            left: 20px;
            width: 40px;
            height: 40px;
        }
    }
    
    &__social{
        display: flex;
        align-items: center;
        
        &-desc{
            text-transform: uppercase;
            color: #2b1212;
            font-size: 12px;
        }
        
        &-item{
            width: 39px;
            height: 39px;
            margin-left: 7px;
            @include transition();
            
            @media screen and (max-width: $bp-XL){
                width: 34px;
                height: 34px;
                margin-left: 8px;
            }
            
            @media screen and (max-width: $bp-LG){
                width: 25px;
                height: 25px;
                margin-left: 15px;
            }

            &:hover{
                @include scale(1.08);
            }
        }
    }
}
