.grad-circle{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: $grad-primary-0;

    @media screen and (max-width: $bp-MD){
        width: 150px;
        height: 150px;
    }

    img{
        width: 64%;
    }
}