.grad-circle{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: $grad-primary-0;

    @media screen and (max-width: $bp-MD){
        width: 150px;
        height: 150px;
    }

    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        text-align: center;
        color: #A9A9AA;
        font-weight: bold;
        text-transform: uppercase;
        height: 60px;
    }

    &__desc{
        max-width: 250px;

        &--sm{
            color: #707070;
            text-align: left;
            font-size: 15px;
            max-width: 210px;
            margin: 0 auto;

            @media screen and (max-width: $bp-LG){
                max-width: none;
                padding: 0 30px 0 40px;
            }
        }

        &--md{
            color: #707070;
            text-align: center;
            font-size: 15px;
            max-width: none;
        }
        
    }

    img{
        width: 64%;
    }
}