.modal-redirect{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(6px);
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    @include transition();

    &.active{
        pointer-events: all;
        opacity: 1;
    }

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 450px;
        width: 370px;
        padding: 30px 70px;
        background: #FCFCFC;
        border: 4px solid #DBDCDD;
        border-radius: 13px;

        @media screen and (max-width: 450px){
            width: 92%;
        }
    }

    .btn{
        width: 70%;
    }

    &__title{
        font-size: 20px;
        color: #939394;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__spinner{
        margin-bottom: 10px;
    }
}